html{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	 height: -webkit-fill-available;
}
body{
    margin: 0;
    padding: 0;
    background: #131417;
    overflow: hidden;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}
.container{
    background: red;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.head{
    /* background: grey; */
    width: 130px;
    height: 100px;
   
    position: absolute;
    top: -100%;
    left:50%;
    transform: translate(-50%,-100%);
    border-radius: 45%;
   z-index: 1;
}
.head::after{
    content: "";
    background: grey;
    width: 130px;
    height: 100px;
    position: absolute;
    top: 0;
    left:0;
    z-index: 0;
    border-radius: 45%;
    filter: blur(7px);
}
.ear{
    width: 35px;
    height: 50px;
    background-image: linear-gradient(to top, #131417, #131417, #505357, #6d7074, #8c8e92);
    box-shadow: inset -8px -5px 5px  grey,
    inset 4px -5px 5px  grey,
    inset 4px 5px 5px  grey
    ;
    position: absolute;
    top:-25%;
    filter: blur(5px);
    border-radius: 30px;
}

.er1{
    
    left: 15%;
    z-index: 1;
   transform: rotateZ(-10deg);
   clip-path: polygon(30% 0, 0% 100%, 100% 100%);
}
.er2{
    
    right: 15%;
    z-index: 1;
   transform: rotateZ(10deg) ;
   clip-path: polygon(70% 0, 0% 100%, 100% 100%);
}
.eye{
    width: 18px;
    height: 23px;
    border-radius: 50%;
    background: #131417;
    z-index: 1;
    position: absolute;
    top:35%;
    box-shadow: 
    inset 0px 0px 3px  grey,
    inset 0px 0px 3px  grey
    ;
}

.ey1{
    left: 29%;
}
.ey2{
    right:29% ;
}

.nose{
    width: 15px;
    height: 10px;
    background: #131417;
    position: absolute;
    top: 63%;
    left:calc(50% - 7.5px);
    z-index: 1;
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    filter: blur(5px);
}

.c1,.c2,.c3,.c4,.c5,.c6,.c7,.c8{
    display: block;
    
    height: 1px;
    background: darkgrey;
    position: absolute;
    box-shadow:inset 5px 0px 2px grey;
    z-index: 5;
}
.c1{
    width: 60px;
    top:73%;
    right: -12px;
    transform: rotateZ(5deg);
}
.c2{
    width: 50px;
    top:80%;
    right: -5px;
    transform: rotateZ(15deg);
}
.c3{
    width: 40px;
    top:66%;
    right: -3px;
    transform: rotateZ(-5deg);
}
.c4{
    width: 40px;
    top:86%;
    right: 7px;
    transform: rotateZ(20deg);
}
.c5{
    width: 60px;
    top:73%;
    left: -12px;
    transform: rotateZ(-5deg);
}
.c6{
    width: 50px;
    top:80%;
    left: -5px;
    transform: rotateZ(-15deg);
}
.c7{
    width: 40px;
    top:66%;
    left: -3px;
    transform: rotateZ(5deg);
}
.c8{
    width: 40px;
    top:86%;
    left: 7px;
    transform: rotateZ(-20deg);
}

.body{
   
    width: 150px;
    height: 120px;
    position: absolute;
    top: -60px;
    left:-60px;
    z-index: 0;
}
.body::after{
    content: "";
    background: #525151;
    width: 160px;
    height: 120px;
    position: absolute;
    top: 0;
    left:0;
    z-index: 0;
    border-radius: 45%;
    filter: blur(7px);
}
.hend1,.hend2{
    width: 20px;
    height: 60px;
    background: gray;
    position: absolute;
    top:5px;
    z-index: 1;
    border-radius: 25%;
    filter: blur(5px);
    box-shadow: inset -5px 10px 5px dimgrey,
    inset 5px 10px 5px dimgrey
    ;
}
.hend1{
    left:-25px;
}
.hend2{
    left:10px;
}
.tail{
    width: 30px;
    height: 130px;
    background: linear-gradient(to bottom,lightgrey 5px,grey 30px,#fff 2px,grey 30px ,grey 50%);
    position: absolute;
    top:-100px;
    left:80px;
    z-index: -1;
    border-radius: 25%;
    filter: blur(8px);
    transform: rotate(30deg);
    animation: rot 2s linear infinite;
}
@keyframes rot {
    0% , 100%{
        transform: rotate(30deg);
    }
    50%{
        transform: rotate(38deg);
    }
}
.art{
    position: absolute;
    bottom: 30px;
    color: grey; 
    font-family:sans-serif;
    padding-left: 30px;
}
.art span:first-child{
    display: block;
    text-transform: uppercase;
    letter-spacing: 5px;
}